*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(42, 42, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}
.clock{
    background-color: white;
    border: 5px solid rgb(147, 12, 12);
    border-radius: 50%;
}

.wrap{
    width: 350px;
    height: 350px;
}


.minute, .heure, .seconde, .point{
position: absolute;
margin: auto;
background-color: black;
left: 0; bottom: 0; right: 0;
box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.heure{
height: 100px;
width: 6px;
top: -15%;
transform-origin: bottom center;
transform: rotateZ(0deg);
}

.minute{
    position: absolute;
    height: 130px;
    width: 6px;
    top: -15%;
    transform-origin: bottom center;
    transform: rotateZ(90deg);
}

.seconde{
    position: absolute;
    height: 170px;
    width: 2px;
    background-color: rgb(176, 0, 0);
    top: -25%; 
    transform-origin: bottom center;
    transform: rotateZ(180deg);
}
.point{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: solid rgb(176, 0, 0);
    top: 0%;
}

